{:deps  {org.clojure/clojure    {:mvn/version "1.10.1"}
         seancorfield/next.jdbc {:mvn/version "1.0.9"}
         honeysql               {:mvn/version "0.9.8"}
         camel-snake-kebab      {:mvn/version "0.4.0"}
         spec-coerce            {:mvn/version "1.0.0-alpha15"}}
 :paths ["src"]}
