{:deps  {org.clojure/clojure    {:mvn/version "1.10.1"}
         seancorfield/next.jdbc {:mvn/version "1.1.588"}
         honeysql               {:mvn/version "0.9.8"}
         camel-snake-kebab      {:mvn/version "0.4.0"}
         exoscale/coax          {:mvn/version "1.0.0-alpha7"}
         exoscale/cloak         {:mvn/version "0.1.6"}}
 :paths ["src"]}
